
.heading {
  color: white;
  height: 80px;
  width: auto;
  text-align: center;
  background-color: black;
  padding: 10px;
}

.feedbacks {
  margin-top: 20px;
  padding: 5%;
  width: auto;
  height: auto;
}
